<div class="container" style="height: 100vh; display: flex; flex-direction: column;">
 
  <h1>Ejemplo de busqueda de direccion con Angular Google</h1>
 
  <div class="form-group">
    <label>Escriba una direccion</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Buscar" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
 
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
 
  <h5>Direccion: {{query}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>